<div class="container">
    <div class="intro">
        Hey, I'm
        <h2> Maky Madingou</h2>
        App Entrepreneur & Software Engineer specialized in frontend development.<br />
        I'm a Sénégal-based, I help designers, small agencies and businesses bring their ideas to life.
        <br />
        <p>Got any questions? <a target="_blank" href="mailto:makymadi@gmail.com">contact me.</a></p>
    </div>
</div>